
#cozinha_controle{
    height: 270vh;
}
#quarto_controle{
    height: 280vh;
}
#externa_controle{
    height: 350vh;
}

.controle{
    background: #ddd;
    height:540vh; 
    margin-top: 80px;
}
#produtosfiltro{
    display: none;
}
.voltar-topo{
    padding: 10px;
    position: fixed;
    border-radius: 360px;
    top: 75%;
    left: 93%;
    color: #906c2b;
    font-weight: bold;
   
    text-align: center;
    border: solid 2px #906c2b;
}
.voltar-topo i{
     font-size: 2vw;
}

.sub-controle2, .sub-controle1{
      height: 100%;
       float: left;
}
.sub-controle1{
    width: 20%;
  background:#fff;
 
}




/*navegação produtos*/
.menu-produtos{
    width: 100%;
   
    font-family: arial;
    font-size: 1.3vw;
   
}
.menu-produtos li{
    font-weight: bold;
    width: 100%;

}
.menu-produtos li a{
     color: #333;
     padding: 15px 0;
    }
.menu-produtos li ul a:hover{
     color: #000;
    background-color: inherit;
    font-size: 1.3vw;
    

}
.menu-produtos li:hover{
     border-radius: 0;
    border-radius: 0;
   background:#999966;
    
}
.menu-produtos li ul{
   
}

.menu-produtos li ul li{
    font-weight: normal;
    padding: 15px 0;
     background:#f9f9f9;
    text-indent: 2em;
    text-align: justify;
}
.menu-produtos li ul li:hover{
    font-weight: normal;
    color: #000;
    background-color: #fff;
}
/*fim navegacao produtos-------------------------------------------------*/


.sub-controle2{
    width: 80%;
  background: #fff;
}
.sub-controle2 h2{
    text-align: center;
    width: 80%;
    font-family: calibri;
    font-size: 2vw;
    height: auto;
    color: #fff;
    background: #999966;
    opacity: 0.8;
    margin-bottom: 30px;
    border-radius: 5px;
}

.region-produtos{
    width: 100%;
    height: auto;
    
}
/*.sub-controle2 hr{
    width: 95%;
    border:none;
    border-radius: 50px;
    background-color: #ddd;
    height: 1px;
   
}*/
.exibir-produtos{
    width: 23%;
    margin: 0 0.5%;
    height:auto;
    float: left;
    border: solid 1px #ddd;
    border-radius: 10px;
    margin-bottom: 70px;
}

.exibir-produtos img{
    border-radius: 0;
    padding: 0;
    margin-bottom: 25px;
}
.exibir-produtos p span{
    font-size: 1.6vw;
}
.exibir-produtos button{
    opacity: 1;
    margin-bottom: 10px;
    background-color: #003300;
}
.bug{
    margin-top: 500px;
}

/*Mobile*/
@media (max-width: 768px) and (min-width: 250px){
    header{
        height: 100%;
    }
    #cozinha_controle, #quarto_controle, #externa_controle{
    height: 100%;
    }
    .controle{
        width:100%;
        margin-top: 10px;
        height: 100%;
    }
.sub-controle1{
    display: none;
        width: 100%;
        background-color: inherit;
        position: absolute;
        margin-top: 0px;
        height: auto;
 
}
    #produtosfiltro{
        display: block;
        text-align: center;
        background-color: #fff;
        width: 100%;
        margin: -200px 0 0px 0 ;
        font-size: 8vw;
        padding: 25px 0px 35px 25px;
        color: #333;
        font-weight: bold;
        transform: all 2s;
        
    }
    #produtosfiltro i{
        
        color: #333;
    }
    #produtosfiltro:hover{
        background-color: #333;
        color: #fff;
    }
    .menu-produtos {
        height: 100%;
    }
    .menu-produtos, .menu-produtos li ul li {
        text-align: justify;
        font-size: 7vw;
    }    
    .menu-produtos a:hover, .menu-produtos ul li a:hover{
        font-size: 7vw;
    }
  

    
     .sub-controle2{
        width: 100%;
         float: none;
         width: 
    }
    .voltar-topo{
        left: 86%;
        border-radius:0;
        padding: 15px; 
    }
    .voltar-topo i{
        font-size: 4vw;
    }
    .sub-controle2 h2{
    font-size: 6vw;
       width: 100%;
        padding: 10px 0;
       border-radius: 0;
        background-color: #906c2b;
        color: #fff;
    }
    h3{
        border: none;
        text-align: left;
        text-indent: 1em;
    }
    .exibir-produtos{
        width: 50%;
        padding: 0;
        margin: 0;
        border: none;
        margin-bottom: 20px;
        background-color: #fff;
    }
    p{
        font-size: 3.7vw;
    }
    .exibir-produtos p span{
        font-size: 5vw;
    }
    .bug{
        margin-top: 235%;
    }
  
   
   
}
@media (max-width: 768px) and (min-width: 426px){
    .bug{
        margin-top: 225%;
    }
    .voltar-topo{
        left: 87%;
        border-radius:0;
        padding: 20px;
        
    }
}

@media (min-width: 769px) and (max-width: 1440px){
    .controle{
        height: 570vh;
    }
    #cozinha_controle{
    height: 250vh;
    }
    #quarto_controle{
        height: 250vh;
    }
    #externa_controle{
        height: 330vh;
    }
    
}